<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dev.yhiguchi.home_expense.infrastructure.datasource.expense.ExpenseAggregateMapper">

    <resultMap id="ExpenseAttributeAggregate" type="dev.yhiguchi.home_expense.query.expense.ExpenseAttributeAggregate">
        <id property="expenseAttributeIdentifier.value" column="id" />
        <result property="expenseAttributeName.value" column="name" />
        <result property="totalAmount" column="total_amount" />
    </resultMap>

    <select id="selectIncomeTotalAmount" resultType="int">
        SELECT
        sum(income.amount)
        FROM expense.income
        WHERE extract('year' from income.receive_date) = #{criteria.year}
        AND extract('month' from income.receive_date) = #{criteria.month}
    </select>

    <select id="selectTotalAmountByFixedCategory" resultType="int">
        SELECT
        sum(expense.price)
        FROM expense.expense
        LEFT JOIN fixed_expense
        ON expense.id = fixed_expense.expense_id
        LEFT JOIN attribute
        ON attribute.id = fixed_expense.attribute_id
        WHERE attribute.id IS NOT NULL
        AND extract('year' from expense.payment_date) = #{criteria.year}
        AND extract('month' from expense.payment_date) = #{criteria.month}
    </select>

    <select id="selectByFixedCategory" resultMap="ExpenseAttributeAggregate">
        SELECT
        attribute.id,
        attribute.name,
        sum(expense.expense.price) AS total_amount
        FROM expense.expense
        LEFT JOIN fixed_expense
        ON expense.id = fixed_expense.expense_id
        LEFT JOIN attribute
        ON attribute.id = fixed_expense.attribute_id
        WHERE attribute.id IS NOT NULL
        AND extract('year' from expense.payment_date) = #{criteria.year}
        AND extract('month' from expense.payment_date) = #{criteria.month}
        group by attribute.id
        order by attribute.created_at
    </select>

    <select id="selectTotalAmountByVariableCategory" resultType="int">
        SELECT
        sum(expense.price)
        FROM expense.expense
        LEFT JOIN variable_expense
        ON expense.id = variable_expense.expense_id
        LEFT JOIN attribute
        ON attribute.id = variable_expense.attribute_id
        WHERE attribute.id IS NOT NULL
        AND extract('year' from expense.payment_date) = #{criteria.year}
        AND extract('month' from expense.payment_date) = #{criteria.month}
    </select>

    <select id="selectByVariableCategory" resultMap="ExpenseAttributeAggregate">
        SELECT
        attribute.id,
        attribute.name,
        sum(expense.expense.price) AS total_amount
        FROM expense.expense
        LEFT JOIN variable_expense
        ON expense.id = variable_expense.expense_id
        LEFT JOIN attribute
        ON attribute.id = variable_expense.attribute_id
        WHERE attribute.id IS NOT NULL
        AND extract('year' from expense.payment_date) = #{criteria.year}
        AND extract('month' from expense.payment_date) = #{criteria.month}
        group by attribute.id
        order by attribute.created_at
    </select>
</mapper>