chardet==7.0.1
click==8.3.1
colorama==0.4.6
diff_cover==10.2.0
iniconfig==2.3.0
Jinja2==3.1.6
MarkupSafe==3.0.3
packaging==26.0
pathspec==1.0.4
platformdirs==4.9.2
pluggy==1.6.0
Pygments==2.19.2
pytest==9.0.2
PyYAML==6.0.3
regex==2026.2.28
sqlfluff==4.0.4
tblib==3.2.2
tqdm==4.67.3
yamllint==1.38.0
