<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dev.yhiguchi.home_expense.infrastructure.datasource.expense.attribute.ExpenseAttributeSummaryMapper">

    <select id="selectCount" resultType="int">
        SELECT
          COUNT(*)
        FROM
        expense.attribute
        <if test="expenseAttributeCriteria.expenseCategory != null">
            WHERE attribute.category = #{expenseAttributeCriteria.expenseCategory}
        </if>
    </select>

    <resultMap id="ExpenseAttribute" type="dev.yhiguchi.home_expense.domain.model.expense.attribute.ExpenseAttribute">
        <id property="expenseAttributeIdentifier.value" column="id" />
        <result property="expenseCategory" column="category" />
        <result property="expenseAttributeName.value" column="name" />
    </resultMap>

    <select id="selectBy" resultMap="ExpenseAttribute">
        SELECT
          id,
          category,
          name
        FROM
          expense.attribute
        <if test="expenseAttributeCriteria.expenseCategory != null">
            WHERE attribute.category = #{expenseAttributeCriteria.expenseCategory}
        </if>
        ORDER BY attribute.created_at
        LIMIT #{expenseAttributeCriteria.perPage}
        OFFSET #{expenseAttributeCriteria.offset}
    </select>
</mapper>